h1{
    text-align: center;
    font-size: 35px;
}
.contenu{
    font-size: 20px;
    text-align: justify;
    padding: 20px 4vw;
    height: 100vh;
    color: #333;
    background: #f1f1f1;
    transition: all 0.2s  ease-in-out;

}
.contenu.Light{
    background: #f1f1f1;
    color: #333;
}
.contenu.Dark{
    background: #333;
    color:#f1f1f1;
}